<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690877354109-h6t5f01e42ossoi76edrhkokm0hntpb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690877354109-h6t5f01e42ossoi76edrhkokm0hntpb5</string>
	<key>API_KEY</key>
	<string>AIzaSyDq_C4fbWFazB7raXj7TQ1JbJIOGTaVrsI</string>
	<key>GCM_SENDER_ID</key>
	<string>690877354109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AivanF.Schedule1329</string>
	<key>PROJECT_ID</key>
	<string>catalog-1329</string>
	<key>STORAGE_BUCKET</key>
	<string>catalog-1329.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690877354109:ios:f9bb0309868b0839</string>
	<key>DATABASE_URL</key>
	<string>https://catalog-1329.firebaseio.com</string>
</dict>
</plist>